* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color:wheat;
}

.bg_video{
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	background:  #240b36;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    /* border-bottom: 3.5px double rgba(124, 9, 73, 0.877); */
    box-shadow: 1px 1px 10px 1px rgba(124, 9, 73, 0.877);
    margin-bottom: 10px;
}

header ul {
    display: flex;
}

header ul li {
    padding: 12px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:whitesmoke
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 54px;
}

.container .name h5 {
    font-size: 26px;
}

#about p {
    max-width: 600px;
    margin: 10px auto;
}

.cards {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background: rgba(66, 6, 57, 0.65);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(66, 6, 57, 0.3);
}

.cards div {
    border: 5.5px double rgba(124, 9, 73, 0.877);
    margin: 15px;
    flex-basis: 100%;
}

.cards i {
    font-size: 100px;
}

.cards hr {
    border-color: rgba(124, 9, 73, 0.877);
}

.form {
    width: 40%;
}

.form input {
    width: 50%;
}

.form button {
    width: 15%;
}