* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color:whitesmoke;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    /* border-bottom: 3.5px double rgba(124, 9, 73, 0.877); */
    /*box-shadow: 1px 1px 10px 1px rgba(124, 9, 73, 0.877); */
    margin-bottom: 10px;
}

.bg_video { 
    position:fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100px;
	height: 100px;
	z-index: -1000;
    background:  #240b36;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#c31432, #240b36 );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, royalblue, lightblue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: url(images/cover_background.jpg);*/
    background-size:cover;
}

header ul {
    display: flex;
}

header ul li {
    padding: 12px;
}

header ul li a {
    transition: 500ms;
}
header ul li a:hover {
    color: gold;
    text-decoration: underline;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:whitesmoke
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 54px;
}

.container .name h5 {
    font-size: 26px;
}

#arrow {
    font-size: 35px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation {
    transition: 300ms;
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    display: block !important;
}

#about p {
    max-width: 600px;
    margin: 10px auto;
}

.cards {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background: rgba(27, 12, 160, 0.616);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(16, 27, 182, 0.555);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(63, 2, 23, 0.747);
}

.cards div {
    border: 5.5px double rgba(63, 2, 23, 0.747);
    margin: 15px;
    flex-basis: 100%;
}

.cards i {
    font-size: 100px;
}

.cards hr {
    border-color: rgba(63, 2, 23, 0.747);
}

#form {
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

#form input {
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

#form button {
    width: 15%;
    padding: 5px 10px;
    background-color: goldenrod;
    color: #240b36;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 500ms;
    border-radius: 0px 5px 5px 0px;
    margin-top: 20px;
    margin-left: -5px;
}

#form button:hover {
    background-color:darkorchid;
    color:whitesmoke;
    font-weight: 600;
    border: none;
    cursor: pointer;
}